:root {
  --primary-color: #ff5678;
  --secondary-color: #ffeef6;
  --filter-primary: invert(54%) sepia(78%) saturate(2004%) hue-rotate(9deg)
    brightness(99%) contrast(99%);
  --filter-icon-default: invert(51%) sepia(0%) saturate(792%) hue-rotate(173deg)
    brightness(100%) contrast(77%);
}

body {
    padding: 0;
    margin: 0;
}